<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
<% end %>    
<%= button_to 'Wyloguj', logout_path, method: :delete %>
<h1>tu fajnie jak by sie pokazywala lista nie zarezerwowanych sal z mozliwoscia rezerwacji np xd</h1>
<h1>plus np lista rezerwacji biezacego uzytkownika xd</h1>

<%# ogolnie to takim panelem admina tu jest strona user/idnex bo tam są wszyscy uzytkownicy i tam mozna nimi zarzadzać%>